/* *{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;} */


body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.header{
    background-color: greenyellow;
    display: flex;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50%;
    position: absolute;
    right: 0;
}        
.ul-menu {
    display: flex;
    margin-top: 27px;
}    

.logo{
    font-size: 40px;
    color: black;
}

a  , li{
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-size: 25px;
    padding: 0px 20px 10px 0;
}

.btn-buy {
    background-color: yellowgreen;
    font-size: 20px;
}

.log-btn {
    background-color: whitesmoke;
    color: black;
    text-align: center;
    border-radius: 5px;

}


#mainContainer {
    display: flex;
    max-height: 90%;
    position: fixed;
    overflow-y: auto;
    width: 100%;
}
#aside {
    width: 30%;
    min-width: 300px;
}
#aside > a{
    display: block;
}
#main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}
h1{
    width: 100%;
}

h5 {
    font-size: 1.25rem;
    min-height: 50px;
}
.subcategories{
    background-color: yellowgreen;
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border-radius: 0.25rem;
    margin-right: 10px;
    border: 2px solid yellowgreen;
}
.subcategories:hover{
    background-color: #ffffff;
    color: yellowgreen;
    text-decoration: none;
    padding: 8px;
    border-radius: 0.25rem;
    margin-right: 10px;
}
#aside a{
    text-decoration: none;
    position: relative;
    display: block;
    margin: -0.5rem -1rem;
    padding: 0.5rem 1rem;
}
#aside a:hover{
    background-color: #0d6efd1c;
    font-weight: 600;
}

.inputCount{
    width: 35px;
    text-align: center;
    padding: 4px;
    margin: 0 10px;
}
.buttonDelete{
    width: 125px;
    margin-top: 10px;
    height: 20px;
}